.checkbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s ease-in-out;
}

.checkbox > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.checkbox > span {
  align-self: center;
  justify-self: center;
  z-index: 10;
}

.checkbox__check {
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-self: end;
  margin-top: 0.5em;
  fill: var(--green);
  z-index: 20;
  transform: scale(0.5);
  opacity: 0;
  transition: 0.2s ease-in-out;
}

/* Hover */
.checkbox:not(.checkbox_active, :active):hover {
  opacity: 0.7;
}

/* Active */

.checkbox.checkbox_active .checkbox__check {
  opacity: 1;
  transform: scale(1);
}
